@import "tailwindcss";


:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme{
  --color-btn-primary: #1890FF;
  --color-btn-primary-hover: #40A9FF;
  --color-btn-primary-active: #096DD9;

  
  --color-primary: rgba(0,0,0,0.85);
  --color-secondary: rgba(0,0,0,0.45);
  --color-danger: #FF4D4F;
  --color-disabled: rgba(0,0,0,0.25);
  --color-warning: #FAAD14;
  --color-mark: rgba(0,0,0,1);
  --color-strong: rgba(0,0,0,0.65);
  --text-12: 12px;
  --text-12--line-height: 20px;
  --text-14: 14px;
  --text-14--line-height: 22px;
  --text-16: 16px;
  --text-16--line-height: 24px;
  --text-20: 20px;
  --text-20--line-height: 28px;
  --text-24: 24px;
  --text-24--line-height: 32px;
  --text-30: 30px;
  --text-30--line-height: 38px;
  --text-38: 38px;
  --text-38--line-height: 46px;
  --font-weight-regular: 400;
}

@layer base{
  h1 {
    @apply text-38 font-medium text-primary;
  }
  h2 {
    @apply text-30 font-medium text-primary;
  }
  h3 {
    @apply text-24 font-medium text-primary;
  }
  h4 {
    @apply text-20 font-medium text-primary;
  }
  h5 {
    @apply text-16 font-medium text-primary;
  }
}


@layer components {
  .btn-primary{
    @apply bg-secondary text-secondary;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
