.sidebar {
    position: fixed;
    top: 0;
    width: 50px;
    height: 100%;
    background-color: #21201E;
    transition: width 0.3s ease;
    border-right: 1px #4d606e solid;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}

.sidebar .sidebar-header {
    display: flex;
    padding: 0px 12px 24px 12px;
}

.sidebar .sidebar-content{
    flex: 1;
}

.sidebar .sidebar-footer {
    display: flex;
    padding: 0px 12px 24px 12px;
    align-items: center;
    justify-content: space-between;
}

.sidebar .sidebar-position {
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 12px;
    text-align: left;
}

.sidebar .sidebar-position:hover,
.sidebar .sidebar-position.active{
    background-color: #3f5159;
    border-right: 5px #e84a5f solid;
}

.sidebar svg {
    color: #e84a5f;
    min-width: 25px;
}

.sidebar .sidebar-footer svg {
    opacity: 0;
}

.sidebar--open .sidebar-footer svg {
    opacity: 1;
    transition: opacity 1s ease;
}

.sidebar span {
    width: 0;
    height: 0;
    padding: 0 15px;
    transition: width 0.3s ease;
    color: #c9c9c9;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar--open {
    width: 250px;
    transition: width 0.3s ease;
}

.sidebar--open .sidebar-position span,
.sidebar--open .sidebar-header span,
.sidebar--open .sidebar-footer span {
    display: block;
    width: 100%;
    height: auto;
    align-content:center;
}

.trigger {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 12px 15px;
    position:absolute;
    right: -24px;
    top: 50%;
    transform: translateY(-50%);

}